[submodule "miditones-src"]
	path = src/lib/miditones-src
	url = https://github.com/LenShustek/miditones.git
[submodule "playtune"]
	path = src/lib/playtune
	url = https://github.com/LenShustek/arduino-playtune.git
